<%- include('partials/header') -%>


<h1 class="homebar mainheading">Home bar</h1>

<p class="mainheaddetail"><%= homefirstcontent %></p>




<div class="homepagepost">
    

    <% addedcompose.forEach(function(element){ %>
        
        <% let myString =element.post %>
        <% let truncatedString = myString.substring(0,100) %>
       
         <h2><%= element.title %></h2>  
         <h4><%= truncatedString %>.... <a href="/post/<%= element._id %>">Read More</a></h4>

    <% }); %>
</div>



<%- include('partials/footer') -%>